main {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 10%;
	width: 80%;
	margin: 0 auto;
	border: .2em solid black;
	border-radius: 2em;
	background-color: white;
	overflow: auto;
	
}


input, textarea {
	display: block;
	border: .2em solid black;
	border-radius: .6em;
	background-color: #d8d9dc;
}

body {
	background-color: #e02121;
}

.title {
	position: absolute;
	height: 8%;
	width: 60%;
	left: 20.3%;
	top: 5%;
	font-size: 2.5em;

}

#titleStjärna {
	position: absolute;
	color: red;
	top: 0%;
	left: 26%;
	font-size: 2vw;
}

#title {
	position: absolute;
	top: 13%;
	left: 20%;
	height: 8%;
	width: 60%;
	border-radius: .6em;
}

.authority {
	position: absolute;
	top: 25%;
	left: 20.3%;
	font-size: 2.5em;

}

#organStjärna {
	position: absolute;
	color: red;
	top: 20%;
	left: 28%;
	font-size: 2vw;
}

#authority {
	position: absolute;
	top: 33%;
	left: 20%;
	height: 8%;
	width: 60%;


}

.repository {
	position: absolute;
	top: 46%;
	left: 20.3%;
	font-size: 2.5em;
}

#förvaringsplatsStjärna {
	position: absolute;
	color: red;
	top: 41%;
	left: 40.3%;
	font-size: 2vw;
}

#repository {
	position: absolute;
	top: 54%;
	left: 20%;
	height: 8%;
	width: 60%;

}

.stub {
	position: absolute;
	top: 66%;
	left: 20.3%;
	font-size: 2.5em;
}

#beskrivningStjärna {
	position: absolute;
	color: red;
	top: 61%;
	left: 36%;
	font-size: 2vw;
}

#stub {
	position: absolute;
	top: 74%;
	left: 20%;
	height: 8%;
	width: 60%;
}


 #pubdate {
 	position: absolute;
 	top: 30%;
 	left: 4%;
 	height: 10%;
 	width: 12%;
 }

#meetingdate {
	position: absolute;
	top: 43%;
	left: 4%;
	height: 10%;
	width: 12%;
}

#submit {
	position: absolute;
	top: 90%;
	left: 10%;
	width: 10%;
	height: 5%;


}